/* Global CSS */

body {
  background-color: white;
  box-sizing:border-box;
  margin:0;
  padding:0;
  font-family: 'Roboto', sans-serif;
}

.site-header {
  height:6em;
  position:fixed;
  width:100%;
  background-color:#032A33;
  color:white;
  top:0;
}



.header-name-description {
  list-style:none;
  text-align:center;
  display:flex;
  flex-direction:column;
  padding-left:0;
}


.header-name {
  font-size:2em;
  text-align:center;
}

.header-description {
  font-weight:bold;
}

.navlinks {
  color:black;
  margin-top:6em;
  background-color:black;
  position:fixed;
  top:0;
  width:100%;
}



.navlinks-ul {
  list-style:none;
  color:white;
  display:flex;
  padding:6px;
}

.navlinks-ul li {
  margin:0 auto;
  text-align:center;
}

.navlinks-ul a {
  color:white;
  text-decoration:none;
}

.bottom-underline {
  border-bottom:2px solid #F1D18A;
}

main {
  margin-top:10em;
}


.about-me-greeting {
  text-align:center;
  font-family: 'Raleway', sans-serif;
  font-size:2em;
  margin-bottom:1em;
  color:white;
}
.about-me {
  text-align:center;
  height:10em;
  margin:0 auto;
}

.about-me-container {
  background-color:#4C6F7B;
  padding:1.5em;
  margin:0;
  height:12em;
}

.about-me-description {
  color:white;
}

.list-of-skills {
  height:6em;
  overflow-x:auto;
  display:flex;
  flex-direction:row;
  list-style:none;
  margin-top:2em;
  justify-content:center;
}


.list-of-skills li {
  padding-left:.8em;
  padding-right:.8em;
}
.skill-pic img {
  width:3em;
}

.skill-name {
  text-align:center;
}

