/* GLOBAL RESETS  */

body {
  border:0;
  margin:0;
  box-sizing:border-box;
  background-color:black;
  font-family: 'Libre Franklin', sans-serif;
  color:white;
}


/* jumbotron  */

.jumbotron-intro-container {
  width:90%;
  color:white;
  border-radius:10px;
  margin:0 auto;
  margin-top:15em;
}


.jumbotron-name {
  font-size:3em;
  margin:.5em;
  margin-left:0;
}


.jumbotron-description {
  margin:1em;
  margin-left:0;
}




/* images  */

.img {
  margin:1em;
  width:3em;
}


/* links */
.jumbotron-links a {
  color:white;
  text-decoration:none;
}


.jumbotron-links {
  display:flex;
  flex-direction:row;
}

.internal-links {
  padding-top:2em;
  margin-left:1em;
  /* text-transform:uppercase; */
  font-family: 'Montserrat', sans-serif;
}

.internal-links a {
  margin:.5em;
}



/* =================================Projects=============== */

.projects-header {
  font-size:2em;
  text-align:center;
  font-family: 'Libre Franklin', sans-serif;
}

.projects-container {
  margin:0 auto;
  display:block;
  text-align:center;
  max-width:80%;
}


.project-container {
  margin:3em;
}

.project-image img {
  width:20em;
  border-radius:10px;
  box-shadow: 5px 5px rgb(44, 44, 44);
}